.bag-main{
    display: flex;
    flex-direction: column;
}
.bag-main header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: .1px solid gray;
    
}
header p{
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}
.payment-section{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.item-place{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2em 20px 0px 0px ;
    border-right: .1px solid gray;
}
.login-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 70px;
    border: .5px solid black;
    padding: 10px;
}

.login-item button{
    margin-right: 30px;
    border: 1px solid red;
    background-color: white;
    color: red;
    font-weight: 600;
    height: 40px;
    width: 120px;
}
.pincode-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 130px;
    width: 460px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.pincode-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid lightgray;
    height: 58px;
    padding: 10px;
}
.pincode-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    margin: 0px 0px 20px 80px;
}
.pincode-form form input{
    height: 45px;
    width: 360px;
    padding-left: 20px;
}
.pincode-form form button{
    border: none;
    background-color: transparent;
    position: relative;
    right: 95px;
    cursor: pointer;
}
.offer-zone{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100px;
    border: .5px solid black;
    padding: 20px 20px 20px 20px;
}
.offer-zone .offer{
    display: flex;
    gap: 10px;
}
.offer-zone .offer-list{
    padding-left: 15px;
}
.checkout-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-items div{
    display: flex;
    gap: 10px;
}
.checkout-items .remove-wishlist p{
    cursor: pointer;
}
.cloth-container{
    display: flex;
    width: 600px;
    flex-direction: column;
    border: 0.2px solid black;
    padding: 10px 10px 10px 10px;
}
.cloth-detail{
    display: flex;
    justify-content: space-between;
}
.cloth-detail img{
    width: 111px;
    height: 148px;
}
.cloth-content{
    display: flex;
    gap: 10px;
}
.order-place{
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 20px;
    padding-top: 2em;
}
.coupons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
    border-bottom: .2px solid lightgray;
}
.coupon button{
    border: 1px solid #FF3F6C;
    background-color: white;
    color: #FF3F6C;
    font-weight: 700;
    padding: 10px;
}
.coupons .green{
    color: rgb(71, 217, 71);
}
.coupons .red{
    color: #FF3F6C;
    cursor: pointer;
    font-weight: 600;
}
.coupon{
    display: flex;
    justify-content: space-between;
}
.coupon div{
    display: flex;
    gap: 20px;
}
.gift{
    display: flex;
    gap: 10px;
    background-color: #FFF1EC;
}
.gift img{
    height: 99px;
    width: 38px;
}
.gift div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}
.table-mrp{
    padding-bottom: 10px;
    border-bottom: .2px solid lightgray;
}
.total{
    font-weight: 900;
}
.total-number{
    font-weight: 900;
}
.coupons span{
    color:#FF3F6C;
    font-weight: 700;
    padding-left: 5px;
    cursor: pointer;
}
.coupons .placeOrder{
    background-color: #FF3F6C;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
    border: none;
}
.underLine{
    text-decoration:underline;
    text-decoration-color: #FF3F6C;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.size-quantity{
    display: flex;
    gap: 20px;
}
.price-offer{
    display: flex;
    gap: 10px;
}

.off{
    color: #FF3F6C;
}
.remove-container{
    position: absolute;
    top: 45%;
    left: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    width: 360px;
    height: 135px;
    padding: 10px;
}
.remove-img-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    border-bottom: .2px solid lightgray;
}
.remove-img-container img{
    height: 66px;
    width: 48px;
}
.remove-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.remove-buttons button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: 600;
}
.remove-buttons .wishlist{
    color: #FF3F6C;
    border-left: .2px solid lightgray;
}
.span{
    text-decoration: line-through;
    text-decoration-color: #FF3F6C;
}
.cloth-check{
    position: absolute;
    margin: 5px;
    padding: 5px;
}
.hori{
    border-bottom: .2px solid black;
}



