@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
*{
    font-family: 'Assistant', sans-serif;
}
.homePage{
    height: auto;
}
.medal-worthy-brand h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 2rem 10px;
    gap: 10px;
}


.collective-carousel{
    display: flex;
    width: 1440px;
    height: 310px;
    margin: 10px;
    gap: 10px;
    overflow: hidden;
}

.carousel-productCard{
    height: 240px;
    width: 275px;
    transition: transform 0.5s ease; /* Add transition to transform property */
}
.carousel-img-container img{
    height: 240px;
    width: 275px;
    cursor: pointer;
}
.carousel-content-container{
    text-align: center;
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}
.carousel-dot{
    position: relative;
    display: flex;
    height: 20px;
    left: 47%;
    width: max-content;
}

.carousel-container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.carousel-container article {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.carousel-container img{
    padding: 0px 0px 0px 0rem;
    width: 100vw;
    height: 400px;
    object-fit:cover;
    display: flex;
}
.carousel-container .active-hidden{
    display: none;
}
.dot{
    position: absolute;
    top: 69%;
    left: 40%;
    color: white;
    
}
.dot svg{
    margin: 0px 4px 0px 4px;
}
.dot-active{
    color: rgb(73, 73, 73);
}
.not-active{
    color: lightgray;
}
.product-section{
    margin-top:9rem;
    height: auto;
}
.category-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0px 5rem 3rem;
}
.category-title h2{
    font-size: 28.8px;
    font-weight: bolder;
}
.product-container{
    margin: 0px 40px 0px 60px;
    display: grid;
    grid-template-columns: repeat(5, 260px);
    gap: 10px;
}
.productCard-container{
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
}
.img-container img{
    width: 200px;
    height: 300px;
    object-fit:cover;
}

.detail-container{
    position: relative;
    text-align: center;
    bottom: 90px;
    font-size: 14px;
    color: rgb(208, 108, 0);
    color: white;
    padding: 5px 0px 5px 0px;
    margin: 0px 10px 0px 10px;
    background-color: rgb(208, 108, 0,.9);
}
Link{
    text-decoration: none;
    
}
.detail-container h4{
    font-family: sans-serif;
    font-weight: 9000;
    font-size: 18px;
}
.detail-container h3{
    padding: 5px 0px 5px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blank{
    padding-top: 5rem;
}